@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$grey: #f1f1f1;
$berry: #871262;
$text: #333f48;

footer {
  font: {
    family: 'Nunito', sans-serif;
  };
  background: {
    color: $grey;
  };
  color: $text;
}

a {
  color: $text;

  &:hover { color: $berry; text-decoration: none; }
}

.row:first-of-type {
  font: {
    size: large;
  };
}

#foot-end {
  background: {
    image: url("/assets/images/footer.svg");
  };
  height: 106px;
}